body {
  background-color: #f4f5f7;
  font-family: "Poppins", sans-serif;
}
.header-title {
  color: #1a3b5d;
  font-weight: bold;
}
.header {
  background-color: #f4f5f7;
}
.card {
  margin-top: 20px;
}

.btn-custom {
  background-color: #4c91b3;
  color: #f4f5f7;
  padding: 10px 20px;
  flex-grow: 1;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn-custom:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.gap-2 {
  gap: 10px;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.weather-card h2 {
  margin: 0;
}

.error-message {
  color: red;
  text-align: center;
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.daily-forecast {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.daily-forecast:last-child {
  border-bottom: none;
}

.weather-card-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgba(29, 28, 28, 0.7);
}

.weather-card-content {
  background: rgba(
    29,
    28,
    28,
    0.5
  );
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  z-index: 1;
  width: 100%;

  box-sizing: border-box;
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.weather-card img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 1rem;
}
/* styles.css */
.app-container {
  min-height: 100vh;
  width: 100%;
  color: #f4f5f7; 
}

.search-input {
  width: 100%; 
  font-size: 1rem; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.search-input:focus {
  border-color: #4c91b3;
  box-shadow: 0 0 5px rgba(76, 145, 179, 0.5); 
}
