body {
  background-color: #f7f7f7;
}

.card {
  margin-top: 20px;
}

.btn-custom {
  background-color: #007bff;
  color: #fff;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.weather-card h2 {
  margin: 0;
}

.error-message {
  color: red;
  text-align: center;
}

.daily-forecast {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.daily-forecast:last-child {
  border-bottom: none;
}

.weather-card:hover {
  transform: translateY(-5px); /* Efekt unoszenia karty przy najechaniu */
}

.weather-card-content {
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Przyciemni tło dla lepszej widoczności tekstu */
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  z-index: 1;
}

.weather-card img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 1rem;
}
/* styles.css */
.app-container {
  min-height: 100vh;
  width: 100%;
  color: white; /* Możesz dostosować kolor tekstu, aby pasował do tła */
}
